_wandb:
    value:
        cli_version: 0.21.3
        e:
            1mejy19ot93txn7z36puopysdt0pyxeo:
                args:
                    - --model_mode
                    - "1"
                    - --use_wandb
                codePath: eval_minimind_model.py
                codePathLocal: eval_minimind_model.py
                cpu_count: 1
                cpu_count_logical: 2
                disk:
                    /:
                        total: "242486079488"
                        used: "51182071808"
                email: amy.xiongxu@gmail.com
                executable: /usr/bin/python3
                git:
                    commit: 561979c7e34ed48bce320598952d892dce33ccd6
                    remote: https://github.com/jingyaogong/minimind.git
                host: d25bb0af8061
                memory:
                    total: "13608370176"
                os: Linux-6.1.123+-x86_64-with-glibc2.35
                program: /content/drive/MyDrive/MA680/minimind/eval_minimind_model.py
                python: CPython 3.12.11
                root: /content/drive/MyDrive/MA680/minimind
                startedAt: "2025-09-12T03:08:51.246749Z"
                writerId: 1mejy19ot93txn7z36puopysdt0pyxeo
        m: []
        python_version: 3.12.11
        t:
            "1":
                - 1
                - 2
                - 3
                - 5
                - 11
                - 12
                - 41
                - 49
                - 53
                - 71
                - 105
            "2":
                - 1
                - 2
                - 3
                - 5
                - 11
                - 12
                - 41
                - 49
                - 53
                - 71
                - 105
            "3":
                - 2
                - 13
                - 16
            "4": 3.12.11
            "5": 0.21.3
            "6": 4.46.3
            "12": 0.21.3
            "13": linux-x86_64
device:
    value: cpu
eval_batch_size:
    value: 50
hidden_size:
    value: 512
load:
    value: 0
lora_name:
    value: None
max_eval_samples:
    value: 1000
max_input_length:
    value: 1024
max_new_tokens:
    value: 512
model_mode:
    value: 1
num_hidden_layers:
    value: 8
out_dir:
    value: out
seed:
    value: 42
show_examples:
    value: 5
temperature:
    value: 0.7
test_data_path:
    value: auto
top_p:
    value: 0.85
use_moe:
    value: false
use_wandb:
    value: true
wandb_project:
    value: MiniMind-Evaluation
