annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
distro==1.9.0
django-simpleui==2025.5.262
et_xmlfile==2.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
interchange==2021.0.4
jieba==0.42.1
jiter==0.10.0
monotonic==1.6
pansi==2024.11.0
pillow==11.2.1
py2neo==2021.2.4
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
tiktoken==0.9.0
typing_extensions==4.13.2
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.4.0
absl-py==2.1.0
accelerate==1.2.1
acres==0.1.0
addict==2.4.0
aiobotocore==2.24.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiolimiter==1.2.1
aiosignal==1.4.0
aiosqlite==0.21.0
albucore==0.0.13
albumentations==1.4.10
alembic==1.16.4
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
amqp==5.3.1
annotated-types==0.7.0
anthropic==0.52.1
anyio==4.6.2.post1
anytree==2.12.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
autobahn==24.4.2
autograd==1.7.0
Automat==25.4.16
azure-common==1.1.28
azure-core==1.32.0
azure-cosmos==4.9.0
azure-identity==1.19.0
azure-search-documents==11.5.2
azure-storage-blob==12.24.0
babel==2.16.0
backoff==2.2.1
banks==2.1.2
basemap==1.4.1
basemap-data==1.3.2
bcrypt==4.3.0
beartype==0.18.5
beautifulsoup4==4.12.3
billiard==4.2.1
bioc==2.1
biopython==1.85
bleach==6.2.0
blinker==1.9.0
blis==1.2.0
boto3==1.39.11
botocore==1.39.11
Brotli==1.1.0
cached-property==1.5.2
cachelib==0.13.0
cachetools==5.5.0
captcha==0.6.0
catalogue==2.0.10
cbor==1.0.0
celery==5.5.3
certifi==2024.12.14
cffi==1.17.1
cfgv==3.4.0
channels==4.2.2
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.4.0
ci-info==0.3.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.21.0
cognee==0.2.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
community==1.0.0b1
confection==0.1.5
configobj==5.0.9
configparser==7.1.0
conllu==4.5.3
constantly==23.10.4
contourpy==1.3.1
cos_python_sdk_v5==1.9.36
cramjam==2.10.0
crcmod==1.7
cryptography==44.0.0
cssselect==1.2.0
cupy-cuda12x==12.3.0
cycler==0.12.1
cymem==2.0.11
Cython==3.0.11
daphne==4.2.0
dashscope==1.24.2
dataclasses-json==0.6.7
DataRecorder==3.6.2
datasets==3.1.0
datashaper==0.0.49
debugpy==1.8.9
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
deprecation==2.1.0
devtools==0.12.2
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
Django==4.2.23
Django==5.2.3
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-allauth==65.7.0
django-celery==3.1.17
django-cors-headers==4.4.0
django-cors-headers==4.6.0
django-crispy-forms==2.4
django-debug-toolbar==5.2.0
django-environ==0.12.0
django-filter==25.1
django-ninja==1.4.3
django-rest-auth==0.9.5
django-simpleui==2025.1.13
dj-rest-auth==7.0.1
dlt==1.15.0
dnspython==2.7.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.17.0
docx==0.2.4
docx2txt==0.8
DownloadKit==2.0.7
drf-nested-routers==0.94.2
drf-spectacular==0.28.0
drf-yasg==1.21.10
DrissionPage==4.1.1.2
ecdsa==0.19.1
email_validator==2.2.0
emoji==2.14.0
english==2020.7.0
entrypoints==0.4
environs==11.2.1
en_core_web_sm==3.8.0
etelemetry==0.3.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
eventlet==0.40.0
exceptiongroup==1.2.2
executing==2.1.0
exejs==0.0.4
fastapi==0.116.1
fastapi-users==14.0.1
fastapi-users-db-sqlalchemy==7.0.0
fastjsonschema==2.20.0
fastparquet==2024.11.0
fastrlock==0.8.3
ffmpy==0.5.0
filelock==3.16.1
filetype==1.2.0
fire==0.7.0
fitz==0.0.1.dev2
FlagEmbedding==1.3.4
flair==0.15.1
Flask==3.1.0
flask-cors==5.0.1
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fnllm==0.2.3
fonttools==4.55.0
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.3.1
future==1.0.0
fuzzywuzzy==0.18.0
gast==0.6.0
gdown==5.2.0
gensim==4.3.3
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
giturlparse==0.12.0
google-auth==2.40.2
google-genai==1.18.0
google-pasta==0.2.0
gradio==5.9.1
gradio_client==1.5.2
graphiti-core==0.11.6
graphrag==2.2.1
graphviz==0.20.3
graspologic==3.4.1
graspologic-native==1.2.1
greenlet==3.1.1
griffe==1.7.3
groq==0.26.0
grpcio==1.67.1
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hanlp==2.1.1
hanlp_common==0.0.23
hanlp_downloader==0.0.25
hanlp_trie==0.0.5
hexbytes==1.3.1
hpack==4.0.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.35.0
humanfriendly==10.0
humanize==4.12.3
hyperframe==6.0.1
hyperlink==21.0.0
hyppo==0.4.0
identify==2.6.13
idna==3.10
ijson==3.4.0
imageio==2.36.1
imgaug==0.4.0
importlib_metadata==7.2.1
importlib_resources==6.4.5
incremental==24.7.2
inflection==0.5.1
inscriptis==2.6.0
instructor==1.10.0
interchange==2021.0.4
intervaltree==3.1.0
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
ir_datasets==0.5.10
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
jh2==5.0.8
jieba==0.42.1
Jinja2==3.1.4
jiter==0.8.0
jmespath==0.10.0
joblib==1.4.2
jpype1==1.5.2
json5==0.10.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpickle==4.0.5
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
json_repair==0.44.1
jupyter==1.1.1
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jupyter_client==8.6.3
jupyter-console==6.6.3
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
keras==3.7.0
keras-bert==0.89.0
keras_contrib==2.0.8
keras-embed-sim==0.10.0
keras-layer-normalization==0.16.0
keras-multi-head==0.29.0
keras-position-wise-feed-forward==0.8.0
keras-pos-embd==0.13.0
keras-self-attention==0.51.0
keras-transformer==0.40.0
kiwisolver==1.4.7
kombu==5.5.4
kuzu==0.11.0
lancedb==0.24.3
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-experimental==0.3.4
langchain-neo4j==0.5.0
langchain-ollama==0.2.2
langchain-openai==0.3.30
langchain-text-splitters==0.3.9
langcodes==3.5.0
langdetect==1.0.9
langfuse==2.60.9
langsmith==0.4.14
language_data==1.3.0
lazy_loader==0.4
Levenshtein==0.26.1
libclang==18.1.1
libretranslatepy==2.1.1
limits==4.8.0
litellm==1.70.4
llama-cloud==0.1.5
llama-index==0.12.2
llama-index-agent-openai==0.4.0
llama-index-cli==0.4.0
llama-index-core==0.12.39
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.3
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.3.2
llama-index-multi-modal-llms-openai==0.3.0
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.0
llama-index-readers-llama-parse==0.4.0
llama-index-vector-stores-neo4jvector==0.3.0
llama-parse==0.5.15
llvmlite==0.43.0
lmdb==1.5.1
looseversion==1.3.0
lxml==5.3.0
lz4==4.4.4
makefun==1.16.0
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
minio==7.2.13
mistune==3.0.2
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
ml-dtypes==0.4.1
modelscope==1.21.0
monotonic==1.6
more-itertools==10.7.0
mpld3==0.5.10
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.12
mypy-extensions==1.0.0
mysqlclient==2.2.7
mysql-connector-python==9.2.0
namex==0.0.8
narwhals==1.15.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
neo4j==5.28.1
neo4j-driver==5.28.1
neo4j-graphrag==1.9.1
neobolt==1.7.17
neomodel==5.5.0
neotime==1.7.4
nest_asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.1
niquests==3.14.0
nltk==3.9.1
nodeenv==1.9.1
notebook==7.3.2
notebook_shim==0.2.4
numba==0.60.0
numpy==2.2.6
nvidia-ml-py==12.570.86
olefile==0.47
ollama==0.4.8
onnx==1.17.0
onnxruntime==1.21.1
onnxruntime-gpu==1.21.1
openai==1.82.0
openai==1.99.9
openapi==2.0.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
openpyxl==3.1.5
optionaldict==0.1.2
optree==0.13.1
opt-einsum==3.3.0
orjson==3.10.12
oss2==2.19.1
overrides==7.7.0
owlready2==0.48
packaging==23.2
packaging==24.2
paddleocr==2.9.1
paddlepaddle==2.6.2
pandas==2.2.3
pandas==2.3.1
pandocfilters==1.5.0
pansi==2024.11.0
parso==0.8.4
pathlib==1.0.1
pathos==0.3.3
pathvalidate==3.3.1
patsy==1.0.1
pdfminer==20191125
pdfminer.six==20250327
pdfplumber==0.11.6
peft==0.15.2
pendulum==3.1.0
phrasetree==0.0.9
pickleshare==0.7.5
pillow==11.0.0
pip==24.3.1
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==6.3.0
pluggy==1.6.0
ply==3.11
portalocker==2.10.1
POT==0.9.5
pox==0.3.5
ppft==1.7.6.9
pptree==3.1
preshed==3.0.9
pre_commit==4.3.0
print==1.3.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==3.20.2
protobuf==5.28.2
prov==2.0.1
psutil==6.1.0
psycopg2-binary==2.9.10
puremagic==1.28
pure_eval==0.2.3
pwdlib==0.2.1
py2neo==2021.2.3
pyahocorasick==2.1.0
pyaml-env==1.2.1
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pybind11==2.13.6
pyclipper==1.3.0.post6
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.3
pydantic==2.10.5
pydantic_core==2.27.1
pydantic_core==2.27.2
pydantic-settings==2.7.0
pydeck==0.8.0b4
pydot==3.0.3
pydub==0.25.1
pygame==2.5.2
Pygments==2.18.0
pyg_lib==0.4.0+pt25cu124
pyhanlp==0.1.89
PyJWT==2.10.1
pylance==0.33.0
pymilvus==2.5.0
Pympler==1.1
PyMuPDF==1.24.12
pymupdf4llm==0.0.17
PyMuPDFPro==1.24.12
PyMySQL==1.1.1
pynndescent==0.5.13
pynvml==12.0.0
pyOpenSSL==25.1.0
pyotp==2.9.0
pyparsing==3.2.0
pypdf==5.1.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pypinyin==0.53.0
pyproj==3.6.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.5.4
pyshp==2.3.1
PySide6==6.8.0.2 
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==0.8.11
python-dotenv==1.0.1
python-iso639==2025.2.18
python-jose==3.4.0
python-json-logger==2.0.7
python-Levenshtein==0.26.1
python-louvain==0.16
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
python-pptx==1.0.2
pytorch_revgrad==0.2.0
pytz==2024.1
pyvis==0.3.2
pywin32==307
pywinpty==2.0.14
pyxnat==1.6.2
PyYAML==6.0.2
pyzmq==26.2.0
py-cpuinfo==9.0.0
qh3==1.4.4
qrcode==8.2
RapidFuzz==3.10.1
rdflib==7.1.4
redis==6.2.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
requirements-parser==0.13.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rich-argparse==1.7.1
rouge==1.0.1
rpds-py==0.21.0
rsa==4.9.1
ruff==0.8.4
s3fs==2025.3.2
s3transfer==0.13.0
safehttpx==0.1.6
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.14.1
scipy==1.16.1
seaborn==0.13.2
segtok==1.5.11
semantic-version==2.10.0
semver==3.0.4
Send2Trash==1.8.3
sentencepiece==0.2.0
sentence-transformers==3.3.1
sentry-sdk==2.20.0
seqeval==1.2.2
service-identity==24.2.0
setproctitle==1.3.4
setuptools==75.6.0
shapely==2.0.6
shellingham==1.5.4
shiboken6==6.8.0.2 
simplejson==3.19.3
six==1.16.0
smart-open==7.0.5
smmap==5.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy_pkuseg==1.0.0
SpeechRecognition==3.12.0
SQLAlchemy==2.0.42
sqlglot==27.6.0
sqlitedict==2.1.0
sqlparse==0.5.2
srsly==2.5.1
stack-data==0.6.2
starlette==0.41.3
statsmodels==0.14.4
streamlit==1.46.0
striprtf==0.0.26
structlog==25.4.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado==0.18.1
textblob==0.18.0.post0
tf_keras==2.18.0
thinc==8.3.4
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.9.0
tinycss2==1.4.0
tldextract==5.1.3
tokenizers==0.20.4
toml==0.10.2
tomli==2.1.0
tomlkit==0.13.2
toposort==1.5
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
torch_cluster==1.6.3+pt25cu124
torch-geometric==2.6.1
torch_scatter==2.1.2+pt25cu124
torch_sparse==0.6.18+pt25cu124
torch_spline_conv==1.2.2+pt25cu124
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==6.4.3
transformers==4.46.3
transformer-smaller-training-vocab==0.4.1
translate==3.6.1
translators==5.9.9
trec-car-tools==2.6
Twisted==24.11.0
txaio==23.1.1
typer==0.15.1
types-python-dateutil==2.9.0.20241003
types-PyYAML==6.0.12.20250402
typing_extensions==4.12.2
typing-inspect==0.9.0
typing-utils==0.1.0
tzdata==2024.2
tzlocal==5.2
ujson==5.10.0
ultralytics==8.3.115
ultralytics-thop==2.0.14
umap==0.1.1
umap-learn==0.5.7
unicodedata2==15.1.0
unlzw3==0.2.3
unstructured==0.17.2
unstructured-client==0.36.0
uritemplate==4.1.1
uri-template==1.3.0
urllib3==2.2.3
urllib3-future==2.12.917
uvicorn==0.32.1
validators==0.34.0
vine==5.1.0
virtualenv==20.33.1
wandb==0.19.2
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
wasabi==1.1.3
wassima==1.2.2
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.8.0
webencodings==0.5.1
websockets==13.1
websocket-client==1.8.0
wechatpy==1.8.18
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.13
wikipedia==1.4.0
Wikipedia-API==0.8.1
win_inet_pton==1.1.0
win-precise-time==1.4.2
wordcloud==1.9.4
wrapt==1.17.0
xgboost==2.1.4
xlrd==2.0.1
XlsxWriter==3.2.2
xlwt==1.3.0
xmindparser==1.0.9
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.18.0
yfiles_jupyter_graphs==1.9.0
zhplot==1.0.0
zh_core_web_sm==3.8.0
zipp==3.21.0
zlib-state==0.1.9
zope.interface==7.2
zstandard==0.23.0
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.2
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.43.0
zipp==3.19.2
